
@{
    ViewBag.Title = "AdminTalepler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using ObsSistem.Models.EntityFramework
@model List<talepModel> 

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Talep Sayfası</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 20px;
        }

        .deneyim-table {
            margin-top: 20px;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-left:50px">
        <div class="row">
            <h3 class="col">Talepler</h3>
        </div>

        <table class="table table-bordered deneyim-table">
            <thead>
                <tr>
                    <th>Talep ID</th>
                    <th>Gonderen ID</th>
                    <th>Gonderen AD</th>
                    <th>Gönderen Soyad</th>
                    <th>Durum</th>
                    <th>Konu</th>
                    <th>Mesaj</th>
                    <th>Yanıt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.talepId</td>
                        <td>@item.gonderenId</td>
                        <td>@item.gonderenAd</td>
                        <td>@item.gonderenSoyad</td>
                        <td>@item.durum</td>
                        <td>@item.konu</td>
                        <td>@item.mesaj</td>
                        <td>
                            <form action="@Url.Action("talepleriGor","Admin")" method="post">
                                <input type="hidden" name="durum" value="@item.durum" />
                                <input type="hidden" name="talepId" value="@item.talepId" />
                                <input type="text" name="yanit" />
                                <input type="submit" name="name" />
                            </form>
                        </td>      
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
